@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 42px 100px;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 268px;
  align-self: center;
  margin-bottom: 20px;
}

.header-search {
  position: relative;
}

.search-icon {
  right: 16.5px;
  position: absolute;
  top: 17.5px;
}

#search {
  height: 69px;
  width: 100%;
  background-color: #E7E7E7;
  border: none;
  border-radius: 5px;
  font-size: 1.125em;
  padding-left: 24px;
}

#search:focus {
  border: 2px solid #212121;
}

.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, max-content));
  gap: 50px;
  justify-content: center;
  margin-top: 25px;
}

.recipe {
  width: 380px;
  height: 364px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #E7E7E7;
}

.recipe-picture {
  height: 178px;
  background-color: #C7BEBE;
}

.recipe-infos {
  padding: 20px;
}

.infos-header, .infos-main {
  display: flex;
  justify-content: space-between;
}

.infos-header {
  margin-bottom: 20px;
}

.recipe-name {
  font-size: 1.125em;
  font-weight: 400;
  flex: 1;
}

.recipe-time {
  font-size: 1.125em;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.recipe-time span {
  margin-left: 2px;
}

.recipe-ingredients, .recipe-description {
  width: 50%;
  font-size: 0.75em;
}

.recipe-description {
  font-family: 'Roboto', sans-serif;
  height: 84.5px;
  overflow: hidden;
  margin-left: 8px;
  line-height: 12px;
}

.ingredient-name {
  font-weight: 700;
}

.categories-container {
  margin: 20px 0 40px;
  height: 70px;
}

.specifics-filters{
  display: flex;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
}

.specifics-filters div.close::after {
  display: inline-block;
  content: ">";
  color: white;
  transform: rotate(90deg) scaleY(1.75);
}

.specific-filter {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  padding: 24px 15px;
  color: #fefefe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.specific-filter span {
  margin-right: 24px;
}

.specific-filter.ingredients {
  background-color: #3282F7;
}

.specific-filter.appliance {
  background-color: #68D9A4;
}

.specific-filter.ustensils {
  background-color: #ED6454;
}

.specific-filter-search input {
  font-family: "Lato", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  color: #fefefe;
  border: none;
  background-color: transparent;
  margin-right: 24px;
  flex: 1;
}

.specific-filter-search {
  display: none;
}

.specific-filter-search input::placeholder {
  color: #fefefe;
  opacity: 0.5;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-form::after {
  display: inline-block;
  content: ">";
  color: white;
  transform: rotate(-90deg) scaleY(1.75);
}

.categories-list ul{
  margin-top: 24px;
  font-weight: 400;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(22px, max-content));
  gap: 10px;
}

.categories-list li {
  text-align: justify;
}

.categories-list li::first-letter {
  text-transform: uppercase;
}

.tags {
  display: flex;
  font-size: 0.875em;
  font-weight: 700;
  color: #fefefe;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.tags.ingredient {
  background-color: #3282F7;
}

.tags.appliance {
  background-color: #68D9A4;
}

.tags.ustensil {
  background-color: #ED6454;
}

.tags-container {
  margin-top: 25px;
  display: flex;
  gap: 8px;
}

.tags::after {
  content: url("../assets/close_button.svg");
  height: 20px;
  width: 20px;
  margin-left: 4px;
}